<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>German Sexy Touch</key>
	<array>
		<string>gym10</string>
		<string>Germanic Smile Up Leg:  Fun Sport - More than workout classes, they’re experiences. Created and developed by the industry’s best minds. Taught by superstars who inspire and ignite. In specially designed studios and pristine spaces. we’re continually crafting a suite of destination experiences that bring results through innovation. More than group fitness classes, they’re experiences created and developed by the industry’s best minds.</string>
	</array>
	<key>Focus Love Sweat</key>
	<array>
		<string>gym9</string>
		<string>Serious Abs Elevation:  Fun Sport - More than workout classes, they’re experiences. Created and developed by the industry’s best minds. Taught by superstars who inspire and ignite. In specially designed studios and pristine spaces. we’re continually crafting a suite of destination experiences that bring results through innovation. More than group fitness classes, they’re experiences created and developed by the industry’s best minds.</string>
	</array>
	<key>Hotness Push Up</key>
	<array>
		<string>gym8</string>
		<string>High Fives Smiles:  Fun Sport - More than workout classes, they’re experiences. Created and developed by the industry’s best minds. Taught by superstars who inspire and ignite. In specially designed studios and pristine spaces. we’re continually crafting a suite of destination experiences that bring results through innovation. More than group fitness classes, they’re experiences created and developed by the industry’s best minds.</string>
	</array>
	<key>Abs Up Sit UP</key>
	<array>
		<string>gym7</string>
		<string>Solid Abs Sit Up:  Fun Sport - More than workout classes, they’re experiences. Created and developed by the industry’s best minds. Taught by superstars who inspire and ignite. In specially designed studios and pristine spaces. we’re continually crafting a suite of destination experiences that bring results through innovation. More than group fitness classes, they’re experiences created and developed by the industry’s best minds.</string>
	</array>
	<key>Half Sit Split</key>
	<array>
		<string>gym6</string>
		<string>Half Stretch sit Split:  Fun Sport - More than workout classes, they’re experiences. Created and developed by the industry’s best minds. Taught by superstars who inspire and ignite. In specially designed studios and pristine spaces. we’re continually crafting a suite of destination experiences that bring results through innovation. More than group fitness classes, they’re experiences created and developed by the industry’s best minds.</string>
	</array>
	<key>Double Girls Fun</key>
	<array>
		<string>gym5</string>
		<string>Side Ways - Face One Girl:  Fun Sport - More than workout classes, they’re experiences. Created and developed by the industry’s best minds. Taught by superstars who inspire and ignite. In specially designed studios and pristine spaces. we’re continually crafting a suite of destination experiences that bring results through innovation. More than group fitness classes, they’re experiences created and developed by the industry’s best minds. </string>
	</array>
	<key>Solo Crunch</key>
	<array>
		<string>gym4</string>
		<string>Solo :  Fun Sport - More than workout classes, they’re experiences. Created and developed by the industry’s best minds. Taught by superstars who inspire and ignite. In specially designed studios and pristine spaces. we’re continually crafting a suite of destination experiences that bring results through innovation. More than group fitness classes, they’re experiences created and developed by the industry’s best minds.</string>
	</array>
	<key>Tooline</key>
	<array>
		<string>gym3</string>
		<string>Two Girls Up: Fun Sport - More than workout classes, they’re experiences. Created and developed by the industry’s best minds. Taught by superstars who inspire and ignite. In specially designed studios and pristine spaces. we’re continually crafting a suite of destination experiences that bring results through innovation. More than group fitness classes, they’re experiences created and developed by the industry’s best minds.</string>
	</array>
	<key>Muse UP Leg</key>
	<array>
		<string>gym2</string>
		<string>Smile Look Away : More than workout classes, they’re experiences. Created and developed by the industry’s best minds. Taught by superstars who inspire and ignite. In specially designed studios and pristine spaces. we’re continually crafting a suite of destination experiences that bring results through innovation. More than group fitness classes, they’re experiences created and developed by the industry’s best minds.</string>
	</array>
	<key>Up Crush</key>
	<array>
		<string>gym1</string>
		<string>Up Crush Description: GROUP FITNESS CLASSES ONLY AT FUN SPORT More than workout classes, they’re experiences. Created and developed by the industry’s best minds. Taught by superstars who inspire and ignite. In specially designed studios and pristine spaces. At Equinox, we’re continually crafting a suite of destination experiences that bring results through innovation. More than group fitness classes, they’re experiences created and developed by the industry’s best minds.

More than workout classes, they’re experiences. Created and developed by the industry’s best minds. Taught by superstars who inspire and ignite. In specially designed studios and pristine spaces. At Equinox, we’re continually crafting a suite of destination experiences that bring results through innovation. More than group fitness classes, they’re experiences created and developed by the industry’s best minds.</string>
	</array>
</dict>
</plist>
